@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-border: #e2e8f0;
  --color-primary: #2563eb;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-text: #0f172a;
  --color-muted: #64748b;

  --font-family-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: "Inter", sans-serif;
  }
}
